.image5-responsive{
    background-color: aquamarine;
    margin-top: 50px;
}
.image5-responsive-first{
    width: 100%;
    height: auto;
    margin-top: 50px;
}
.image5-responsive-second{
    width: 100%;
    height: auto;
    margin-top: 50px;
}