.twelveText1-main{
    margin-top: 50px;
}
.twelveText1{
    font-weight: 700;
    font-size: 4vw;
    line-height: 1
}
.twelveText1-two{
    font-size: 1.5vw;
}
.twelveText1-three{
    font-weight: 700;
}
.twelveText1-four{
    font-weight: 700;
}
.twelveText1-five{
    font-weight: 600;
    line-height: 1
}
.twelveText1-six{
    font-weight: 700;
}
.twelveText1-seven{
    font-weight: 500;
}