.image4-responsive {
  width: 100%;
  height: auto;
  margin-top: 50px;
}
.image4-button-text{
    background-color: rgb(14, 141, 199);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 2.5vw;
    box-shadow: rgb(63, 52, 52) 0px 3px 8px;
    width: 100%;
}
